:root {
  --black: black;
  --white: white;
  --black-2: #333;
  --dark-grey: #9b9b9b;
  --dim-grey: #636363;
  --red: #fa191980;
  --grey: grey;
  --flowui-component-library-gray-200: #f3f5fb;
  --flowui-component-library-gray-900: #160042;
  --flowui-component-library-primary-base: #642eff;
  --flowui-component-library-grey-300: #e4e6f1;
  --flowui-component-library-white: white;
  --flowui-component-library-gray-700: #282556;
  --flowui-component-library-gray-500: #6b7094;
  --flowui-component-library-grey-600: #393b6a;
  --lynx--white: white;
  --lynx--medium-purple: #8979ec;
  --lynx--black: #1f2022;
  --flowui-component-library--gray-100: #f7f9fd;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-embed-youtubevideo {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 52px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
}

h4 {
  color: #333;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  color: #af4173;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  position: static;
}

p {
  color: gray;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}

a {
  color: gray;
  padding-bottom: 5px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: box-shadow .2s, color .2s;
  box-shadow: inset 0 -2px #0000001a;
}

a:hover {
  color: #000;
  box-shadow: inset 0 -2px #000;
}

img {
  max-width: 100%;
  display: inline-block;
}

figure {
  margin-bottom: 10px;
}

figcaption {
  text-align: center;
  margin-top: 5px;
}

.hero {
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: fixed;
}

.wrapper-title {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  overflow: hidden;
}

.design {
  background-color: #dcdee0;
  justify-content: space-between;
  height: 100vh;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: relative;
  top: 100vh;
}

.design.main {
  -webkit-text-fill-color: inherit;
  background-color: #0000;
  background-image: url('../images/TC-01.jpg');
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  background-clip: border-box;
  flex-direction: column;
  height: auto;
  max-height: 100%;
  position: relative;
}

.home-subhead {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  display: flex;
}

.project-info {
  z-index: 20;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 75px;
  display: flex;
  position: relative;
}

.section-2 {
  float: none;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: none;
  padding: 150px 10% 100px;
  display: flex;
  position: relative;
  top: 0;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.brand {
  box-shadow: none;
  border-bottom: 1px #000;
  align-items: center;
  height: auto;
  padding-bottom: 0;
  display: flex;
}

.brand:hover {
  box-shadow: none;
  border-bottom-style: none;
}

.brand.w--current {
  box-shadow: none;
  height: auto;
  padding-bottom: 0;
}

.brand.w--current:hover {
  box-shadow: none;
}

.link-nav {
  box-shadow: none;
  color: #949494;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0 0 5px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 400;
  transition: color .2s, box-shadow .2s;
}

.link-nav:hover {
  color: #000;
  box-shadow: inset 0 -3px #00000080;
}

.link-nav.w--current {
  color: #555;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  box-shadow: inset 0 -3px #00000080;
}

.nav-menu {
  float: right;
  justify-content: center;
  align-items: center;
  display: block;
}

.project-link {
  color: #fff;
  padding-top: 5px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 300;
  box-shadow: inset 0 -2px #fff3;
}

.project-link:hover {
  color: #fff;
  box-shadow: inset 0 -2px #fff;
}

.project-title {
  color: #fff;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 45px;
  font-weight: 100;
}

.project-description {
  color: #7a7a7a;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.text-wrap {
  cursor: pointer;
  justify-content: flex-start;
  align-items: baseline;
  display: flex;
}

.letter-wrap {
  position: relative;
  overflow: hidden;
}

.body-2 {
  background-color: #f1f0ec;
}

.paragraph-3 {
  color: #3948ff;
  text-align: center;
  letter-spacing: 13px;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 10px;
  font-style: italic;
  font-weight: 700;
  line-height: 25px;
}

.to-3, .to-4, .to-5, .to-1, .to-2 {
  margin-top: 10px;
  font-family: Oswald, sans-serif;
  font-size: 200px;
  line-height: 200px;
}

.letter-wrap-n {
  position: relative;
}

.text-span {
  font-weight: 900;
  text-decoration: none;
}

.image-9 {
  color: var(--black);
}

.boton-top {
  z-index: 1;
  background-color: #000000bf;
  background-image: url('../images/Iconoflecha-top.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  background-attachment: scroll;
  border-radius: 5px 0 0 5px;
  width: 50px;
  height: 50px;
  position: fixed;
  inset: auto 0% 2% auto;
}

.footer {
  background-color: #f1f0ec;
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-form-title {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 25px;
}

.footer-wrapper-two {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.footer-block-three {
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.footer-link-three {
  box-shadow: none;
  color: #1a1b1f;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 0;
  font-size: 13px;
  text-decoration: none;
  transition-property: none;
}

.footer-link-three:hover {
  color: #1a1b1fbf;
}

.footer-bottom {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0;
  display: flex;
}

.footer-copyright {
  color: #3a4554;
  font-size: 12px;
}

.button-8 {
  letter-spacing: 1px;
  background-color: #000000bf;
  border-radius: 20px;
  align-self: center;
  padding-top: 5px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.footer-wrapper-three {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
}

.top-header {
  height: 0;
}

.f-image-cover {
  object-fit: cover;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.f-paragraph-large {
  text-align: justify;
  letter-spacing: -.02em;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.f-h1-heading {
  color: #333;
  letter-spacing: 0;
  white-space: normal;
  word-break: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Oswald, sans-serif;
  font-size: 80px;
  line-height: 1.2;
}

.button-ig {
  box-shadow: none;
  color: #fff;
  text-align: center;
  background-color: #000000bf;
  border: 1px solid #333;
  border-radius: 20px;
  width: 100%;
  margin-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  transition-property: none;
}

.heading-7 {
  font-family: Lato, sans-serif;
}

.body-4, .body-5 {
  background-color: #f1f0ec;
}

.submit-button {
  background-color: #333;
  border-radius: 20px;
}

.text-block-4 {
  font-family: Lato, sans-serif;
}

.columns {
  flex-flow: row;
  flex: 0 auto;
  order: 0;
  height: auto;
  max-height: none;
  display: block;
}

.column-2 {
  background-color: #000000d9;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
  display: flex;
}

.photography {
  background-color: #dcdee0;
  justify-content: space-between;
  height: 100vh;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: relative;
  top: 100vh;
}

.photography.main {
  background-color: #0000;
  background-image: url('../images/PTF-55-min.jpg');
  background-position: 50% 30%;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
  height: auto;
  max-height: 100%;
}

.lottie-animation {
  filter: invert();
  width: 50px;
}

.body-7 {
  background-color: #1b1b1b;
}

.navbar-2 {
  background-color: #f1f0ec;
  width: 100%;
  height: auto;
  padding: 40px 5%;
  position: fixed;
  box-shadow: 0 2px 5px #0000001a;
}

.footer-3 {
  background-color: #0000;
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-left: 5%;
  padding-right: 5%;
}

.footer-form-title-2 {
  color: #f1f0ec;
  -webkit-text-stroke-color: #f1f0ec;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 20px;
  line-height: 32px;
}

.footer-link-three--1 {
  box-shadow: none;
  color: #f1f0ec;
  -webkit-text-stroke-color: #f1f0ec;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 13px;
  text-decoration: none;
  transition-property: none;
}

.footer-link-three--1:hover {
  color: #1a1b1fbf;
}

.navbar-3 {
  background-color: #1b1b1b;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 40px 5%;
  display: block;
  position: fixed;
}

.columns-2 {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.column-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.div-block-38 {
  border-radius: 0;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  display: block;
}

.column-4 {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  display: block;
}

.project-header-wrapper {
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  padding-bottom: 0;
  display: flex;
}

.archive-info-h6 {
  color: #333;
  margin-top: 20px;
  margin-bottom: 0;
}

.archive-description-wrapper {
  width: 100%;
  margin-left: 0;
}

.project-title-2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 30px;
}

.div-is-25 {
  width: 50%;
  margin-left: 0;
}

.container-10 {
  flex-direction: column;
  flex: none;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: block;
  position: static;
  top: 0%;
  left: 0%;
  right: 0%;
}

.divider {
  background-color: #c8c4c1;
  width: 100%;
  height: 1px;
  display: block;
}

.archive-p {
  margin-bottom: 0;
  font-size: 13px;
}

.archive-hero {
  align-items: flex-end;
  height: auto;
  padding-top: 10%;
  padding-bottom: 0%;
  display: flex;
}

.heading-10 {
  color: gray;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 5px;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.paragraph-5 {
  text-align: justify;
  text-transform: none;
  margin-top: 20px;
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}

.container-11 {
  max-width: none;
  margin-top: 0;
}

.paragraph-6 {
  text-align: justify;
  white-space: normal;
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  line-height: 22px;
}

.column-5 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #00000080;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 400px;
  display: block;
  overflow: visible;
}

.container-12 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}

.paragraph-7 {
  text-align: center;
  color: #f1f0ec;
  margin-bottom: 0;
  font-family: Lato, sans-serif;
  font-size: 35px;
  font-weight: 100;
}

.paragraph-8 {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

.container-14 {
  width: 100%;
  height: .1px;
}

.grid__wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.responsive__grid {
  grid-template-rows: auto;
  grid-template-columns: 2.25fr 1.25fr 1.25fr;
}

.responsive__grid.reverse {
  grid-template-columns: 2.25fr 2fr;
  margin-top: 16px;
}

.grid__image {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  display: block;
}

.sections-titles-h5 {
  color: #3333;
  white-space: normal;
  word-break: normal;
  overflow-wrap: anywhere;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Oswald, sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}

.columns-3 {
  margin: 40px 0 20px;
  display: block;
}

.column-6 {
  padding-left: 10px;
  padding-right: 10px;
}

.column-7 {
  padding-left: 10px;
  padding-right: 5%;
}

.columns-info {
  margin-bottom: 40px;
  margin-left: 0;
  margin-right: 0;
  display: block;
}

.proyectos-dise-o-01 {
  background-image: url('../images/DCMF-Set04.jpg');
  background-position: 0%;
  background-repeat: repeat-x;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  max-height: 100%;
  padding-top: 0;
  display: block;
  position: relative;
  top: 105px;
}

.proyectos-dise-o-02 {
  background-image: url('../images/eFP-00.jpg');
  background-position: 0%;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  max-height: 100%;
  padding-top: 0;
  display: block;
  position: relative;
  top: 100px;
}

.proyectos-dise-o-03 {
  background-image: url('../images/TC-01.jpg');
  background-position: 50% 100%;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  max-height: 100%;
  padding-top: 0;
  display: block;
  position: relative;
  top: 100px;
}

.proyectos-dise-o-04 {
  background-image: url('../images/PC-06.jpg');
  background-position: 0 0;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  max-height: 100%;
  padding-top: 0;
  display: block;
  position: relative;
  top: 100px;
}

.link-back {
  box-shadow: none;
  opacity: 1;
  outline-offset: 0px;
  color: #333;
  cursor: auto;
  mix-blend-mode: normal;
  border-bottom-width: 0;
  border-bottom-color: #000;
  outline: 3px #333;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  padding-bottom: 5px;
  font-family: Lato, sans-serif;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  transition-property: none;
  display: flex;
}

.arrow-embed-02 {
  color: #949494;
  transform-style: preserve-3d;
  margin-left: 0;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  transform: rotateX(0)rotateY(180deg)rotateZ(0);
}

.columns-4 {
  margin-top: 60px;
  margin-bottom: 20px;
  text-decoration: none;
}

.column-8 {
  text-decoration: none;
  display: block;
}

.text-block-6 {
  color: #949494;
  border: 0 #000;
  margin-left: 5px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

.column-9 {
  text-decoration: none;
}

.column-10 {
  text-align: left;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.link-project-back {
  box-shadow: none;
  opacity: 1;
  outline-offset: 0px;
  color: #333;
  cursor: auto;
  mix-blend-mode: normal;
  border-bottom-width: 0;
  border-bottom-color: #000;
  outline: 3px #333;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  padding-bottom: 5px;
  font-family: Lato, sans-serif;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  transition-property: none;
  display: flex;
}

.link-project-next {
  box-shadow: none;
  opacity: 1;
  outline-offset: 0px;
  color: #333;
  cursor: auto;
  mix-blend-mode: normal;
  border-bottom-width: 0;
  border-bottom-color: #000;
  outline: 3px #333;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  padding-bottom: 5px;
  font-family: Lato, sans-serif;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  transition-property: none;
  display: flex;
}

.arrow-embed-01 {
  color: #949494;
  margin-left: 0;
  font-size: 12px;
  text-decoration: none;
  display: flex;
}

.column-11 {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.column-13 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.code-embed-2 {
  width: auto;
  max-width: none;
  height: auto;
  max-height: none;
}

.container-16 {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin-top: 20px;
}

.div-block-40 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.responsive__grid-01 {
  grid-template-rows: auto auto;
  grid-template-columns: 1.25fr 1.25fr 1.25fr 1.25fr;
}

.grid {
  grid-template-rows: auto;
  margin-top: 15px;
}

.responsive__grid-02 {
  grid-template-rows: auto;
  grid-template-columns: .75fr 1.25fr 1.25fr;
  margin-top: 15px;
}

.youtube {
  margin-top: 15px;
}

.proyectos-dise-o-05 {
  background-image: url('../images/web-screen-min.jpg');
  background-position: 100%;
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
  height: 100%;
  max-height: 100%;
  padding-top: 0;
  display: block;
  position: relative;
  top: 100px;
}

.proyectos-dise-o-06 {
  background-image: url('../images/Puudukk-032023-156.JPG');
  background-position: 100%;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  max-height: 100%;
  padding-top: 0;
  display: block;
  position: relative;
  top: 100px;
}

.columns-5 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.columns-6 {
  margin: 40px 0 20px;
}

.button-travelcures {
  letter-spacing: 1px;
  background-color: #000000bf;
  border-radius: 20px;
  align-self: center;
  margin: 5px 10px 20px;
  padding-top: 5px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.filter-button {
  text-align: center;
  background-color: #0000;
  border: 1px solid #fff;
  border-radius: 20px;
  width: 15%;
  padding: 5px 0;
  font-size: 10px;
  line-height: 15px;
}

.image-10 {
  width: 100%;
  max-width: none;
  display: block;
}

.filter-controls {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: space-around;
  align-items: baseline;
  padding: 15px;
  display: flex;
}

.mix-container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: wrap;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  place-content: stretch;
  place-items: baseline;
  padding: 20px 0;
  display: grid;
}

.mix {
  float: left;
  width: 25%;
  padding: 10px;
  text-decoration: none;
}

.mix.portraits, .mix.sport, .mix.motor, .mix.travel {
  width: auto;
  padding: 0;
}

.down-arrow {
  width: 40px;
  height: 40px;
}

.down-arrow-2 {
  background-color: #3849ff00;
  width: 40px;
  height: 40px;
}

.section-3 {
  margin-top: 60px;
}

.go-top {
  height: 0;
}

.responsive__grid-03 {
  grid-template-rows: auto auto;
  grid-template-columns: 1.25fr 1.25fr 1.25fr;
}

.responsive__grid-04 {
  grid-template-rows: auto;
  grid-template-columns: 1.25fr 1.25fr 1.25fr;
}

.responsive__grid-04.reverse {
  grid-template-columns: 2.25fr 2fr;
  margin-top: 16px;
}

.proyectos-dise-o-07 {
  background-image: url('../images/BODA-BEA--CRISTIAN-441.jpg');
  background-position: 100%;
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
  height: 100%;
  max-height: 100%;
  padding-top: 0;
  display: block;
  position: relative;
  top: 100px;
}

.responsive__grid-05 {
  grid-template-rows: auto;
  grid-template-columns: 1.25fr 1.25fr 1.25fr 1.25fr;
}

.responsive__grid-07 {
  grid-template-rows: auto;
  grid-template-columns: 1.25fr 2.25fr;
  margin-top: 10px;
}

.responsive__grid-07.reverse {
  grid-template-columns: 2.25fr 2fr;
  margin-top: 16px;
}

.div-block-41 {
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 0;
}

.responsive__grid-08 {
  grid-template-rows: auto auto;
  grid-template-columns: 1.25fr 1.25fr 1.25fr 1.25fr;
  margin-top: 10px;
}

.responsive__grid-08.reverse {
  grid-template-columns: 2.25fr 2fr;
  margin-top: 16px;
}

.responsive__grid-09 {
  grid-template-rows: auto;
  grid-template-columns: 1.25fr 1.25fr 2.75fr;
  margin-top: 10px;
  margin-bottom: 10px;
}

.responsive__grid-09.reverse {
  grid-template-columns: 2.25fr 2fr;
  margin-top: 16px;
}

.responsive__grid-10 {
  grid-template-rows: auto auto;
  grid-template-columns: 1.25fr 1.25fr 1.25fr;
}

.image-11, .image-12 {
  width: 100%;
}

.column-14, .column-15, .column-16, .column-17, .column-18, .column-19, .column-20 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.grid__image-01 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: flex-end;
  align-items: stretch;
  width: 70%;
  display: block;
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 0;
    padding-bottom: 0;
  }

  .wrapper-title {
    justify-content: center;
    margin-top: 0;
  }

  .design.main {
    top: 100vh;
  }

  .home-subhead, .link-nav, .link-nav.w--current {
    font-size: 12px;
  }

  .body-2 {
    background-color: #f1f0ec;
  }

  .paragraph-3 {
    font-size: 10px;
    line-height: 15px;
  }

  .boton-top {
    z-index: 1;
    background-color: #000000bf;
    background-image: url('../images/Iconoflecha-top.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-attachment: scroll;
    border-radius: 5px 0 0 5px;
    width: 50px;
    height: 50px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    inset: auto 0% 2% auto;
  }

  .photography.main {
    top: 100vh;
  }

  .body-7 {
    background-color: #1b1b1b;
  }

  .archive-info-h6 {
    color: #333;
  }

  .archive-hero {
    padding-top: 8%;
  }

  .column-5 {
    background-color: #00000080;
  }

  .container-12 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .container-13 {
    max-width: none;
  }

  .grid__image {
    justify-content: flex-end;
    align-items: stretch;
    display: block;
  }

  .column-7 {
    padding-right: 5%;
  }

  .proyectos-dise-o-01 {
    top: 105px;
  }

  .proyectos-dise-o-03 {
    background-image: url('../images/TC-01.jpg');
    background-position: 50% 100%;
  }

  .filter-button {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .mix-container {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .section-3 {
    height: 0;
    margin-top: 100px;
  }

  .grid__image-01 {
    justify-content: flex-end;
    align-items: stretch;
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    background-color: #0000;
    min-height: auto;
    margin-top: 250px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .wrapper-title {
    justify-content: center;
    margin-top: 0;
  }

  .design.main {
    background-color: #0000;
    top: 100vh;
  }

  .home-subhead {
    font-size: 11px;
  }

  .project-info {
    justify-content: center;
    align-items: flex-start;
    margin-left: 100px;
    margin-right: 100px;
  }

  .section-2 {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: none;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
  }

  .link-nav, .link-nav.w--current {
    font-size: 14px;
  }

  .body-2 {
    background-color: #f1f0ec;
  }

  .paragraph-3 {
    letter-spacing: 14px;
    font-size: 10px;
    line-height: 30px;
  }

  .boton-top {
    z-index: 1;
    background-color: #000000bf;
    background-image: url('../images/Iconoflecha-top.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-attachment: scroll;
    border-radius: 5px 0 0 5px;
    order: -1;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-top: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    display: block;
    position: fixed;
    inset: auto 0% 2% auto;
  }

  .column-2 {
    height: 440px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .photography.main {
    background-color: #0000;
    top: 100vh;
  }

  .body-7 {
    background-color: #1b1b1b;
  }

  .project-header-wrapper {
    padding-bottom: 5px;
  }

  .container-10 {
    flex-direction: row;
    align-items: center;
  }

  .divider {
    background-color: #c8c4c1;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .archive-hero {
    padding-top: 8%;
  }

  .column-5 {
    background-color: #00000080;
    height: 440px;
  }

  .container-12 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .grid__image {
    display: block;
  }

  .column-7 {
    padding-right: 5%;
  }

  .proyectos-dise-o-01 {
    background-color: #000;
    background-image: url('../images/DCMF-Set04.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    background-attachment: fixed;
  }

  .proyectos-dise-o-03 {
    background-image: url('../images/TC-01.jpg');
  }

  .column-13 {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }

  .container-17 {
    justify-content: space-between;
    width: 100%;
    display: flex;
  }

  .filter-button {
    text-align: center;
    background-color: #0000;
    border: 1px solid #fff;
    border-radius: 20px;
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 11px;
    line-height: 12px;
  }

  .filter-controls {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
  }

  .mix-container {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: row;
    grid-template: "." 1fr
                   "."
                   / 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    justify-content: stretch;
    place-items: stretch stretch;
    padding: 20px 0;
    display: grid;
  }

  .mix.portraits, .mix.people, .mix.sport, .mix.motor, .mix.travel {
    width: auto;
    padding: 0;
  }

  .container-18 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-self: auto;
    max-width: 100%;
    display: block;
  }

  .section-3 {
    height: 0;
    margin-top: 100px;
  }

  .grid__image-01 {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  a {
    margin-bottom: 20px;
  }

  .hero {
    justify-content: flex-start;
    padding-left: 0;
  }

  .wrapper-title {
    width: 100vw;
  }

  .design.main {
    justify-content: flex-start;
  }

  .home-subhead {
    width: 60vw;
  }

  .project-info {
    width: 100%;
    margin-left: 60px;
    margin-right: 60px;
    padding: 10vh 0;
  }

  .section-2 {
    padding: 150px 10% 60px;
  }

  .brand, .link-nav {
    margin-bottom: 0;
  }

  .project-title {
    font-size: 35px;
  }

  .project-description {
    font-size: 14px;
  }

  .footer {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: none;
    display: flex;
  }

  .footer-form-title {
    margin-right: 15px;
  }

  .footer-wrapper-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-block-three {
    margin-left: 0;
    margin-right: 0;
  }

  .footer-wrapper-three {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .f-paragraph-large {
    font-size: 12px;
    line-height: 24px;
  }

  .f-h1-heading {
    font-size: 60px;
  }

  .button-ig {
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 40px;
    font-size: 12px;
  }

  .column-2 {
    height: 350px;
  }

  .photography.main {
    justify-content: flex-start;
  }

  .footer-3 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: none;
    display: flex;
  }

  .footer-form-title-2 {
    margin-right: 15px;
  }

  .navbar-3 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    display: block;
  }

  .icon {
    color: #fff;
  }

  .menu-button {
    padding: 0;
  }

  .project-header-wrapper {
    flex-direction: column;
  }

  .archive-description-wrapper {
    width: 50%;
  }

  .project-title-2 {
    padding-right: 2em;
  }

  .div-is-25 {
    width: 35%;
  }

  .container-10 {
    padding: 7% 10% 2em;
    font-size: 14px;
  }

  .archive-hero {
    padding-top: 5%;
  }

  .paragraph-5, .paragraph-6 {
    font-size: 12px;
    line-height: 20px;
  }

  .column-5 {
    background-color: #00000080;
    height: 350px;
  }

  .grid__wrapper {
    flex-direction: column;
  }

  .responsive__grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
  }

  .responsive__grid.reverse {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }

  .sections-titles-h5 {
    text-align: left;
    text-overflow: clip;
    word-break: keep-all;
    overflow-wrap: break-word;
    font-size: 38px;
    line-height: 40px;
  }

  .column-7 {
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    display: block;
  }

  .proyectos-dise-o-01 {
    background-position: 0%;
  }

  .link-back {
    margin-bottom: 0;
  }

  .columns-4 {
    margin-bottom: 20px;
  }

  .link-project-back, .link-project-next {
    margin-bottom: 0;
  }

  .responsive__grid-01 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    justify-items: stretch;
    display: grid;
  }

  .responsive__grid-02 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
  }

  .filter-button {
    margin-left: 10px;
    margin-right: 10px;
  }

  .mix-container {
    padding-left: 0;
    padding-right: 0;
  }

  .mix.portraits, .mix.sport, .mix.motor, .mix.travel {
    margin-bottom: 0;
  }

  .responsive__grid-03 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    justify-items: stretch;
    display: grid;
  }

  .responsive__grid-04 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
  }

  .responsive__grid-04.reverse {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }

  .responsive__grid-05 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    justify-items: stretch;
    display: grid;
  }

  .responsive__grid-07 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    display: grid;
  }

  .responsive__grid-07.reverse {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }

  .responsive__grid-08 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
  }

  .responsive__grid-08.reverse {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }

  .responsive__grid-09 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
  }

  .responsive__grid-09.reverse {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }

  .responsive__grid-10 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    justify-items: stretch;
    display: grid;
  }
}

@media screen and (max-width: 767px) {
  .design.main {
    top: 85vh;
  }

  .home-subhead {
    align-self: center;
    width: auto;
  }

  .project-info {
    justify-content: center;
    align-items: flex-start;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .section-2 {
    padding-top: 140px;
    padding-bottom: 20px;
  }

  .brand {
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 0;
    display: block;
  }

  .brand.w--current {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    margin-top: 15px;
    margin-bottom: 0;
    display: block;
  }

  .link-nav {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-menu {
    mix-blend-mode: normal;
    background-color: #f1f0ece6;
    background-image: none;
    flex-flow: column;
    align-self: center;
    padding: 20px 10%;
    display: block;
    box-shadow: 0 2px 5px #0003;
  }

  .project-title {
    font-size: 35px;
  }

  .project-description {
    font-size: 13px;
    line-height: 22px;
  }

  .text-wrap {
    justify-content: center;
    align-items: center;
  }

  .paragraph-3 {
    word-break: break-all;
    font-size: 10px;
    line-height: 15px;
  }

  .to-3, .to-4, .to-5, .to-1, .to-2 {
    font-size: 120px;
    line-height: 150px;
  }

  .footer {
    flex-flow: column;
    max-width: none;
    padding-left: 10%;
    padding-right: 10%;
  }

  .footer-form-title {
    text-align: center;
    margin-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
  }

  .footer-block-three {
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-link-three {
    margin-bottom: 10px;
    font-size: 11px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-copyright {
    font-size: 13px;
    line-height: 20px;
  }

  .footer-wrapper-three {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .f-h1-heading {
    text-align: center;
    margin-top: 0;
    font-size: 48px;
  }

  .columns {
    flex-flow: column wrap;
    flex: 0 auto;
    order: 0;
    justify-content: center;
    align-self: auto;
    align-items: center;
    display: block;
  }

  .column-2 {
    justify-content: center;
    align-items: center;
    height: 350px;
  }

  .photography.main {
    top: 85vh;
  }

  .navbar-2 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    place-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 5% 0%;
    display: block;
  }

  .footer-form-title-2 {
    margin-right: 0;
  }

  .footer-link-three--1 {
    margin-bottom: 10px;
  }

  .navbar-3 {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    display: block;
  }

  .columns-2 {
    flex-flow: column;
  }

  .column-3 {
    margin-bottom: 20px;
  }

  .project-header-wrapper {
    flex-direction: column;
  }

  .archive-info-h6 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .archive-description-wrapper {
    width: 100%;
  }

  .div-is-25 {
    width: 50%;
  }

  .container-10 {
    padding-top: 0%;
  }

  .archive-hero {
    height: auto;
    padding-top: 15%;
  }

  .menu-button-2 {
    padding: 15px;
  }

  .menu-button-2.w--open {
    mix-blend-mode: exclusion;
    background-color: #0000;
  }

  .column-5 {
    height: 0;
    overflow: visible;
  }

  .container-13 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    vertical-align: baseline;
    justify-content: space-between;
    align-items: center;
    width: auto;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
    display: block;
  }

  .container-14 {
    height: 1px;
  }

  .sections-titles-h5 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .column-6 {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .column-7 {
    margin-bottom: 20px;
    padding-left: 0;
  }

  .proyectos-dise-o-01 {
    background-position: 50%;
  }

  .column-12 {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .column-13 {
    padding-left: 0;
    padding-right: 0;
  }

  .filter-button {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 9px;
    line-height: 10px;
  }

  .filter-controls {
    flex-flow: wrap;
    font-size: 12px;
  }

  .mix-container {
    grid-column-gap: 14px;
    grid-row-gap: 14px;
    grid-template-columns: 1fr 1fr;
  }

  .mix {
    width: 33.333%;
  }

  .mix.travel {
    margin-bottom: 0;
  }

  .section-3 {
    margin-top: 100px;
  }

  .responsive__grid-08 {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .column-18 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .hero {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .wrapper-title {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
  }

  .design.main {
    flex-flow: row;
    justify-content: flex-start;
    align-items: stretch;
    max-height: 100%;
    display: block;
  }

  .home-subhead {
    width: auto;
    margin-top: 20px;
  }

  .project-info {
    margin-left: 0%;
    margin-right: 0%;
    padding: 0;
  }

  .section-2 {
    padding-top: 120px;
  }

  .brand {
    float: none;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 0;
    padding-left: 0;
  }

  .brand.w--current {
    float: none;
    justify-content: center;
    height: auto;
    margin-top: 0;
    padding-left: 0;
  }

  .link-nav {
    width: auto;
  }

  .nav-menu {
    justify-content: space-between;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .project-link {
    font-size: 13px;
  }

  .project-title {
    font-size: 25px;
    line-height: 30px;
  }

  .project-description {
    font-size: 12px;
    line-height: 15px;
  }

  .text-wrap {
    transform: scale(2);
  }

  .paragraph-3 {
    letter-spacing: 9px;
    white-space: normal;
    word-break: normal;
    overflow-wrap: break-word;
    margin-bottom: 0;
    font-size: 8px;
  }

  .to-3, .to-4, .to-5, .to-1, .to-2 {
    font-size: 40px;
    line-height: 50px;
  }

  .boton-top {
    width: 40px;
    height: 40px;
    padding-left: 0;
    padding-right: 0;
  }

  .footer {
    max-width: none;
  }

  .footer-form-title {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
  }

  .footer-block-three {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .footer-bottom {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  }

  .footer-copyright {
    font-size: 11px;
  }

  .footer-wrapper-three {
    margin-top: 0;
  }

  .columns {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: none;
    height: auto;
    display: block;
  }

  .column-2 {
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 0;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
  }

  .photography.main {
    background-position: 50% 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: block;
  }

  .navbar-2 {
    text-align: center;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
  }

  .footer-3 {
    max-width: none;
  }

  .footer-form-title-2 {
    text-align: center;
  }

  .footer-link-three--1, .footer-link-three--1.w--current {
    font-size: 11px;
  }

  .navbar-3 {
    text-align: center;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    display: flex;
  }

  .icon {
    color: #fff;
    -webkit-text-stroke-color: #fff;
  }

  .div-is-25 {
    width: 100%;
  }

  .container-10 {
    padding-top: 0%;
    padding-left: 1em;
    padding-right: 1em;
  }

  .archive-hero {
    padding-top: 80px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .container-11 {
    margin-top: 20px;
  }

  .column-5 {
    flex-flow: row;
    height: auto;
    padding-left: 0;
    padding-right: 0;
    display: block;
    overflow: visible;
  }

  .paragraph-7 {
    font-size: 30px;
  }

  .paragraph-8 {
    margin-top: 10px;
    line-height: 16px;
  }

  .container-13 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: row;
    justify-content: space-between;
    display: flex;
  }

  .container-14 {
    width: 100%;
    height: 1px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .responsive__grid {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .responsive__grid.reverse {
    grid-template-columns: 1fr;
  }

  .sections-titles-h5 {
    font-size: 27px;
    line-height: 28px;
  }

  .proyectos-dise-o-01 {
    background-position: 45%;
    top: 100px;
  }

  .proyectos-dise-o-02 {
    background-position: 40%;
  }

  .columns-4 {
    margin-top: 40px;
  }

  .column-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .text-block-6 {
    text-align: center;
    line-height: 15px;
  }

  .responsive__grid-01 {
    flex-flow: column;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    display: flex;
  }

  .responsive__grid-02 {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .filter-button {
    width: 30%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .filter-controls {
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .mix-container {
    grid-template-columns: 1fr 1fr;
  }

  .responsive__grid-03 {
    flex-flow: column;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    display: flex;
  }

  .responsive__grid-04 {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .responsive__grid-04.reverse {
    grid-template-columns: 1fr;
  }

  .responsive__grid-05 {
    flex-flow: column;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    display: flex;
  }

  .responsive__grid-07 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .responsive__grid-07.reverse {
    grid-template-columns: 1fr;
  }

  .responsive__grid-08 {
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .responsive__grid-08.reverse {
    grid-template-columns: 1fr;
  }

  .responsive__grid-09 {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .responsive__grid-09.reverse {
    grid-template-columns: 1fr;
  }

  .responsive__grid-10 {
    flex-flow: column;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    display: flex;
  }
}

#mix.w-node-c91699ac-c174-f171-ef39-2de5625f20c8-a45a7718 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5f706cf0-facd-bf14-f8e8-15234c85f888-bd18a9cf {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f56-bd18a9cf, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f57-bd18a9cf, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f58-bd18a9cf, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f5a-bd18a9cf, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f5b-bd18a9cf, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f5c-bd18a9cf, #w-node-_885ccc82-4d5c-ad08-940f-2068ccbdb322-bd18a9cf {
  place-self: stretch stretch;
}

#w-node-_885ccc82-4d5c-ad08-940f-2068ccbdb323-bd18a9cf {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: stretch stretch;
}

#w-node-_885ccc82-4d5c-ad08-940f-2068ccbdb324-bd18a9cf, #w-node-_885ccc82-4d5c-ad08-940f-2068ccbdb326-bd18a9cf, #w-node-_885ccc82-4d5c-ad08-940f-2068ccbdb327-bd18a9cf, #w-node-_885ccc82-4d5c-ad08-940f-2068ccbdb328-bd18a9cf {
  place-self: stretch stretch;
}

#w-node-_5f706cf0-facd-bf14-f8e8-15234c85f888-5a692200 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f56-5a692200, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f57-5a692200, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f58-5a692200, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f5a-5a692200, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f5b-5a692200, #w-node-_885ccc82-4d5c-ad08-940f-2068ccbdb322-5a692200 {
  place-self: stretch stretch;
}

#w-node-_885ccc82-4d5c-ad08-940f-2068ccbdb323-5a692200, #w-node-fc4d72f0-fe53-abdb-742f-6e0f247d9183-5a692200 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: stretch stretch;
}

#w-node-_885ccc82-4d5c-ad08-940f-2068ccbdb326-5a692200, #w-node-_87586251-f032-79dc-5712-c2e711a7e8a9-5a692200 {
  place-self: stretch stretch;
}

#w-node-_3b4376bf-ec51-b3c0-c00d-36cfefa1c26e-5a692200 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: stretch stretch;
}

#w-node-_3b4376bf-ec51-b3c0-c00d-36cfefa1c26f-5a692200, #w-node-_3b4376bf-ec51-b3c0-c00d-36cfefa1c270-5a692200, #w-node-_75979594-b5c7-7c29-091f-bbc4c8740fa0-5a692200 {
  place-self: stretch stretch;
}

#w-node-ab52a05d-f2bb-810a-085a-9f0be8093f37-5a692200 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: stretch stretch;
}

#w-node-ab52a05d-f2bb-810a-085a-9f0be8093f38-5a692200, #w-node-ab52a05d-f2bb-810a-085a-9f0be8093f39-5a692200, #w-node-ab52a05d-f2bb-810a-085a-9f0be8093f3a-5a692200 {
  place-self: stretch stretch;
}

#w-node-_5f706cf0-facd-bf14-f8e8-15234c85f888-2cfdaad0 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f56-2cfdaad0, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f57-2cfdaad0, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f58-2cfdaad0 {
  place-self: stretch stretch;
}

#w-node-_5f706cf0-facd-bf14-f8e8-15234c85f888-9b573e2f {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f56-9b573e2f, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f57-9b573e2f, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f58-9b573e2f, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f5a-9b573e2f, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f5b-9b573e2f, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f5c-9b573e2f {
  place-self: stretch stretch;
}

#w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73242-9b573e2f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: stretch stretch;
}

#w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73243-9b573e2f, #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73244-9b573e2f, #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73245-9b573e2f {
  place-self: stretch stretch;
}

#w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73246-9b573e2f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: stretch stretch;
}

#w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73247-9b573e2f {
  place-self: stretch stretch;
}

#w-node-_5f706cf0-facd-bf14-f8e8-15234c85f888-9e6fe422 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f56-9e6fe422, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f57-9e6fe422, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f58-9e6fe422, #w-node-_9c5ec02e-8cc0-f21d-7481-eaba5462a573-9e6fe422, #w-node-e3fc535b-a6ab-cdbd-de66-51cb113ee605-9e6fe422, #w-node-ed1a9aa6-3582-6900-235f-a60ab397f746-9e6fe422, #w-node-_428fc1ba-c852-7435-4fd7-6658014f46b9-9e6fe422, #w-node-_36115b38-cb8e-59c6-41f3-1faf13433789-9e6fe422 {
  place-self: stretch stretch;
}

#w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73242-9e6fe422 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: stretch stretch;
}

#w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73243-9e6fe422, #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73244-9e6fe422, #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73245-9e6fe422 {
  place-self: stretch stretch;
}

#w-node-_5f706cf0-facd-bf14-f8e8-15234c85f888-972fb432 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f56-972fb432, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f57-972fb432, #w-node-_0e6ada75-4be0-9e05-c219-c506eb1abfb8-972fb432, #w-node-_0e6ada75-4be0-9e05-c219-c506eb1abfb7-972fb432 {
  place-self: stretch stretch;
}

#w-node-_5f706cf0-facd-bf14-f8e8-15234c85f888-500057cb {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f56-500057cb, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f57-500057cb, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f58-500057cb {
  place-self: stretch stretch;
}

#w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73242-500057cb {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: stretch stretch;
}

#w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73243-500057cb, #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73244-500057cb, #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73245-500057cb, #w-node-_82118f73-158b-31cd-8686-e4b7243c3165-500057cb, #w-node-_20b02dc7-9415-efa2-57df-fee2193fc156-500057cb {
  place-self: stretch stretch;
}

@media screen and (min-width: 1440px) {
  #mix.w-node-e310c36e-da83-073b-3f0c-373c39a91bd1-a45a7718 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 991px) {
  #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f56-bd18a9cf {
    grid-area: span 1 / span 2 / span 1 / span 2;
    place-self: stretch stretch;
  }

  #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f5c-bd18a9cf {
    grid-area: 2 / 1 / 3 / 3;
    place-self: stretch stretch;
  }

  #w-node-_885ccc82-4d5c-ad08-940f-2068ccbdb322-bd18a9cf {
    grid-area: span 1 / span 2 / span 1 / span 2;
    place-self: stretch stretch;
  }

  #w-node-_885ccc82-4d5c-ad08-940f-2068ccbdb328-bd18a9cf {
    grid-area: 2 / 1 / 3 / 3;
    place-self: stretch stretch;
  }

  #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f56-5a692200, #w-node-_885ccc82-4d5c-ad08-940f-2068ccbdb322-5a692200, #w-node-_3b4376bf-ec51-b3c0-c00d-36cfefa1c26e-5a692200, #w-node-ab52a05d-f2bb-810a-085a-9f0be8093f37-5a692200, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f56-2cfdaad0, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f56-9b573e2f {
    grid-area: span 1 / span 2 / span 1 / span 2;
    place-self: stretch stretch;
  }

  #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f5c-9b573e2f {
    grid-area: 2 / 1 / 3 / 3;
    place-self: stretch stretch;
  }

  #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73242-9b573e2f, #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73246-9b573e2f, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f56-9e6fe422, #w-node-e3fc535b-a6ab-cdbd-de66-51cb113ee605-9e6fe422, #w-node-ed1a9aa6-3582-6900-235f-a60ab397f746-9e6fe422, #w-node-_428fc1ba-c852-7435-4fd7-6658014f46b9-9e6fe422, #w-node-_36115b38-cb8e-59c6-41f3-1faf13433789-9e6fe422, #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73242-9e6fe422 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: stretch stretch;
  }

  #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f56-972fb432 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    place-self: stretch stretch;
  }

  #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f57-972fb432, #w-node-_0e6ada75-4be0-9e05-c219-c506eb1abfb8-972fb432 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_0e6ada75-4be0-9e05-c219-c506eb1abfb7-972fb432, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f56-500057cb, #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73242-500057cb {
    grid-area: span 1 / span 2 / span 1 / span 2;
    place-self: stretch stretch;
  }
}

@media screen and (max-width: 767px) {
  #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f56-9e6fe422 {
    grid-column: span 2 / span 2;
  }

  #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f57-9e6fe422, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f58-9e6fe422, #w-node-_9c5ec02e-8cc0-f21d-7481-eaba5462a573-9e6fe422 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-e3fc535b-a6ab-cdbd-de66-51cb113ee605-9e6fe422, #w-node-ed1a9aa6-3582-6900-235f-a60ab397f746-9e6fe422, #w-node-_428fc1ba-c852-7435-4fd7-6658014f46b9-9e6fe422, #w-node-_36115b38-cb8e-59c6-41f3-1faf13433789-9e6fe422 {
    grid-column: span 2 / span 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f57-bd18a9cf, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f58-bd18a9cf {
    grid-area: span 1 / span 2 / span 1 / span 2;
    place-self: stretch stretch;
  }

  #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f5a-bd18a9cf, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f5b-bd18a9cf {
    grid-area: span 1 / span 3 / span 1 / span 3;
    place-self: stretch stretch;
  }

  #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f5c-bd18a9cf {
    grid-area: 3 / 1 / 4 / 4;
    place-self: stretch stretch;
  }

  #w-node-_885ccc82-4d5c-ad08-940f-2068ccbdb323-bd18a9cf, #w-node-_885ccc82-4d5c-ad08-940f-2068ccbdb324-bd18a9cf {
    grid-area: span 1 / span 2 / span 1 / span 2;
    place-self: stretch stretch;
  }

  #w-node-_885ccc82-4d5c-ad08-940f-2068ccbdb326-bd18a9cf, #w-node-_885ccc82-4d5c-ad08-940f-2068ccbdb327-bd18a9cf {
    grid-area: span 1 / span 3 / span 1 / span 3;
    place-self: stretch stretch;
  }

  #w-node-_885ccc82-4d5c-ad08-940f-2068ccbdb328-bd18a9cf {
    grid-area: 3 / 1 / 4 / 4;
    place-self: stretch stretch;
  }

  #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f57-5a692200, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f58-5a692200 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    place-self: stretch stretch;
  }

  #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f5a-5a692200, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f5b-5a692200 {
    grid-area: span 1 / span 3 / span 1 / span 3;
    place-self: stretch stretch;
  }

  #w-node-_885ccc82-4d5c-ad08-940f-2068ccbdb323-5a692200, #w-node-fc4d72f0-fe53-abdb-742f-6e0f247d9183-5a692200 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    place-self: stretch stretch;
  }

  #w-node-_885ccc82-4d5c-ad08-940f-2068ccbdb326-5a692200, #w-node-_87586251-f032-79dc-5712-c2e711a7e8a9-5a692200 {
    grid-area: span 1 / span 3 / span 1 / span 3;
    place-self: stretch stretch;
  }

  #w-node-_3b4376bf-ec51-b3c0-c00d-36cfefa1c26f-5a692200, #w-node-_3b4376bf-ec51-b3c0-c00d-36cfefa1c270-5a692200, #w-node-_75979594-b5c7-7c29-091f-bbc4c8740fa0-5a692200, #w-node-ab52a05d-f2bb-810a-085a-9f0be8093f38-5a692200, #w-node-ab52a05d-f2bb-810a-085a-9f0be8093f39-5a692200, #w-node-ab52a05d-f2bb-810a-085a-9f0be8093f3a-5a692200, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f57-2cfdaad0, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f58-2cfdaad0, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f57-9b573e2f, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f58-9b573e2f {
    grid-area: span 1 / span 2 / span 1 / span 2;
    place-self: stretch stretch;
  }

  #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f5a-9b573e2f, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f5b-9b573e2f {
    grid-area: span 1 / span 3 / span 1 / span 3;
    place-self: stretch stretch;
  }

  #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f5c-9b573e2f {
    grid-area: 3 / 1 / 4 / 4;
    place-self: stretch stretch;
  }

  #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73243-9b573e2f, #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73244-9b573e2f, #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73245-9b573e2f, #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73247-9b573e2f, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f57-9e6fe422, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f58-9e6fe422, #w-node-_9c5ec02e-8cc0-f21d-7481-eaba5462a573-9e6fe422, #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73243-9e6fe422, #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73244-9e6fe422, #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73245-9e6fe422, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f57-972fb432, #w-node-_0e6ada75-4be0-9e05-c219-c506eb1abfb8-972fb432, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f57-500057cb, #w-node-ff1084e7-8e5a-3cfd-abbb-3c4841b72f58-500057cb, #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73243-500057cb, #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73244-500057cb, #w-node-_72d084b8-c1f8-3b0c-8ca3-6ed244b73245-500057cb, #w-node-_82118f73-158b-31cd-8686-e4b7243c3165-500057cb, #w-node-_20b02dc7-9415-efa2-57df-fee2193fc156-500057cb {
    grid-area: span 1 / span 2 / span 1 / span 2;
    place-self: stretch stretch;
  }
}


